table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}



tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}






p{
    font-family: Helvetica, sans-serif;
}

h1{
    font-size:60px;
    color:white;
    font-weight: 700;
    width: 100%;
    background-color: #F16227;
    display:inline-block;
    padding-top:5rem;
    font-family: 'Helvetica', sans-serif;
}

h3 {
    font-size: 27px;
    position: relative;
    left: 120%;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;



}
#deleteButton{
    background-color: white;
    border: black;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
body {
    padding-top: 2rem;
    color: black;
    background-color: white;
    text-align: center;
    font-family:'Helvetica', sans-serif;
    font-size: 20px;
}

input{
    color:black;
}
#button1{
    color:white;
    background-color: #F16227 ;
    border-color: #F16227;
    font-family: 'Helvetica', sans-serif;
    width: 30px;
    height: 40px;
    border-radius: 20%;
    border: 1px solid white;
}

#button1:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: black;
    color:  #F16227;

}

#button2{
    color:white;
    background-color: #F16227 ;
    border-color: #F16227;
    position: absolute;
    left: 69%;
    font-family: 'Helvetica', sans-serif;
    border-radius: 10%;
    border: 1px solid white;
    height: 40px;

}

#button2:hover{
    transform: scale(1.1);
    cursor: pointer;


}

#deleteButton:hover{
    transform: scale(1.1);
}
img{
    display:inline-block;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 1px;
    padding-top: 0.5rem;
    width:25%;
    height: 80px;


}
.calender{
    margin: auto;
    width: 40%;
    padding: 10px;
    font-family: 'Helvetica', sans-serif;
}

#next{
    text-align: center;
    background-color: #F16227;
    margin: 0;
    position: relative;
    top: 43px;
    left: 280%;

    width: 30px;
    height: 40px;
    border-radius: 20%;
    border: 1px solid white;

}

#next:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: black;
    color:  #F16227;

}

#previous{
    text-align: center;
    background-color: #F16227;
    margin: 0;
    position: relative;
    top: 43px;
    left: -60%;

    width: 30px;
    height: 40px;
    border-radius: 20%;
    border: 1px solid white;
}

#previous:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: 	black; /*#505050 ;*/
    color:  #F16227;

}

#month{
    left:450%;
    top:5%;
    margin: 1px;
}

#moveBoxes{
    padding-top: 0.5rem;
}
#forwardAndBackButtons{
    padding-bottom: 100px;
}






